@import "../../styles/settings.scss";

.container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: $header_backgroundColor;
  box-shadow: 0.2em 0.07em 0.6em $header_shadowBox_color;
}
