@import "../../../../styles/settings.scss";

.container {
  text-align: center;
}

.score {
  font-size: 2.5rem;
  color: $score_score_color;
  text-shadow: -1px -1px 0 $score_score_text-shadow_color,
              1px -1px 0 $score_score_text-shadow_color,
              -1px 1px 0 $score_score_text-shadow_color,
              1px 1px 0 $score_score_text-shadow_color;
}
