@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$main-font : 'Montserrat', sans-serif;

// COLORS
$antiFlashWhite: #f1f2f6;
$black: #000;
$white: #fff;
$limeSoap: #abe6be;
$ufoGreen: #2ed573;
$fluorescentRed: #ff5252;
$belizeHole: #2980b9;

//MAIN - Settings
$backgroundColor: $antiFlashWhite;

//HEADER - Settings
$header_backgroundColor: $white;
$header_shadowBox_color: $ufoGreen;

//LOGO - Settings
$logo_text_color: $black;
$logo_background_gradient: linear-gradient(to right, $limeSoap 20%, $ufoGreen 40%, $ufoGreen 60%, $limeSoap 80%);

//SCOREBOARD - Settings
$scoreBoard_background_color: $white;

  //PLAYER - Settings
  $player_name_color: $ufoGreen;
  $player_name_text-shadow_color: $black;
  $player_active_nam_color: $fluorescentRed;

  //SCORE - Settings
  $score_score_color: $ufoGreen;
  $score_score_text-shadow_color: $black;

//SOCCER FIELD - Settings
$soccerField_background_color: $ufoGreen;
$soccerField_border_color: $white;
$soccerField_shadowBox_color: $ufoGreen;
$soccerField_after_background_color: $white;
$soccerField_before_border_color: $white;

  //ACTION POINTS - Settings
  $actionPoints_point_hover_backgroundColor: $fluorescentRed;
  $actionPoints_point_border_color: $white;

  //GOAL - Settings
  $goal_container_background_color: $ufoGreen;
  $goal_conatainer_border_color: $white;
  $goal_goal_border_color: $white;
  $goal_goal_hover_color: $fluorescentRed;

//BUTTON - Settings
$button_border_color: $ufoGreen;
$button_backGround_color: $white;
$button_description_color: $ufoGreen;
$button_boxShadow_hover_color: $ufoGreen;
